.description-text {
  font-size: 16px;
  & p:not(:nth-last-of-type(1)) {
    margin-bottom: 20px;
  }
  & ul {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style-position: inside;
    & li {
      position: relative;
      &:before {
        content: "";
        display: inline-block;
        width: 16px;
        height: 14px;
        transform: translate(0, 15%);
        background: url(../images/disc_list.svg) center center / cover no-repeat;
      }
    }
  }
  //
}
