.reason{
    background-color: $--bg-color; 
    font-family: 'Roboto';
    &__container{
        font-weight: 300;
        &-table{
            margin-bottom: 10px;
            @media screen and (max-width:550px) {
                overflow: hidden;
                overflow-x: auto;
                min-width: 100%;
                white-space: nowrap;
            }
            & table{
                max-width: 100%;
                width: 100%;
                border-collapse: collapse;
               
                & tr{
                    display: flex;
                    &:nth-child(even) {
                        background-color:$--table-row-color; 
                    }
                    & td,
                    & th{
                        padding: 10px 15px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        @media screen and (max-width:550px) {
                            padding: 10px 0;
                            font-size: 14px;
                        }
                        &:nth-of-type(1){
                            width: 77%;
                            
                        }
                        &:not(:nth-of-type(1)){
                            & img{
                                width: 20px;
                                height: 20px;
                                min-width: 20px;
                                min-height: 20px;
                            }
                            justify-content: center;
                            width: 13%;
                            min-width: 140px;
                            @media screen and (max-width:550px) {
                                min-width: 130px;
                            }
                        }
                    }
                   
                }
                & thead{
                    background-color: $--hover-color;
                    width: auto;
                    color: $--white-text;
                }
            }
        }
        &-text{
            & p{
                font-size: 19px;
                margin-bottom: 10px;
                line-height: 150%;
            }
        }
    }
}