.search{
    display: block;
    max-width: 275px;
    .search-wrap{
        display: flex;
        align-items: center;
        border-radius: 10px;
        background-color: $--white-text;
        border: 1px solid $--light-text;
        font-size: 16px;
        line-height: 22px;
        color: #717070;
        position: relative;
        & input{
            display: inline-block;
            max-width: 100%;
            width: 100%;
            padding: 8px;
            outline: none;
           border: none;
           cursor: pointer;
        }
        & input[type="submit"]{
            max-width: 42px;
            border-radius: 0 10px 10px 0;
            background: url(../images/lupa.svg) center no-repeat #ebebeb;
        }
        & input[type="search"]{
            border-radius: 10px ;
        }

    }
}

